#image-collage {
  height: 1470px;
  overflow: hidden;
  .bg-image {
    width: 640px;
    &--horz__top {
      height: 60%;
      min-height: 640px;
    }
    &--horz__bot {
      height: 40%;
      min-height: 550px;
    }
    &--vert {
      height: 100%;
      min-height: 1200px;
      max-height: 1370px;
    }
  }
}
