#home {
  #video-container {
    height: 1280px;
  }

  #image-collage {
    height: 1470px;
    .bg-image {
        width: 512px;
        &--horz__top {
            height: 60%;
        }
        &--horz__bot {
            height: 40%;
        }
        &--vert {
            height: 100%;
        }
    }
  }

  #content {
    max-width: 960px;
  }

  .video {
    height: 480px;
    width: 720px;
  }
}
